body {
    background-color: #fff;
    color: #222222;
    margin: 0;
    padding: 0;

    font-size: 1.063em;
    font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B', Verdana, Helvetica, Arial, Times, sans-serif;
    font-weight: 300;

    border-top: 3px solid #b59575;
    word-wrap: break-word;
    -webkit-text-size-adjust: 100%;
}

#mastheadbackground {
    height: 165px;
    margin-bottom: -165px;
    background-color: #10381E;	
}

i, em {
    font-weight: 300;
    font-style: italic;
}

table {
    font-weight: 400;
}

b, strong {
    font-weight: 600;
}

a, a:active, a:visited {
    color: #b5190e;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: #000000;
}

.printonly { display: none; }

/* Site title */
#masthead {
    font-size: 0.9em;
    font-weight: 400;
    color: #f1e0d4;
}

#masthead h1 {
    font-weight: normal;
    font-size: 2em;
    margin-top: 0;
    padding-top: 0.5em;
}

#masthead a,
#masthead a:active,
#masthead a:visited { color: #b59575; }

#masthead h1 a,
#masthead h1 a:active,
#masthead h1 a:visited {
    color: #fff;
    text-decoration: none;
}

#masthead p { margin: 0; padding: 0; }
#masthead nav { display: block; margin: 0; padding: 1em 0; color: #5c3b1e; }

/* Posts */

article {
    display: block;
    line-height: 1.6;
    margin-top: 6em;
}

    article header { color: #888; }
    article header p { margin: 0; }
    article header a { text-decoration: none; }

/* Link posts */

article.link header h2 { font-size: 1.25em; }

article.link header h2 a,
article.link header h2 a:active,
article.link header h2 a:visited { 
    color: #b5190e;
    text-decoration: underline; 
}

/* Block layout */

#masthead {
    width: 310px;
    padding-top: 0;
    margin-top: 0;
}

footer {
    margin: 2em 0;
    font-size: 13px;
}

    footer p { margin: 0.5em; }

section#posts {
    position: relative;
    display: block;
    width: 620px;
    margin: 0 auto;
}

/* Post title */
h2 {
    font-weight: normal;
    font-size: 1.5em;
    margin-bottom: 0;
    line-height: 1.25;
}

h2 a,
h2 a:active,
h2 a:visited {
    color: #000;
    text-decoration: none;
}

/* In posts */

h3 {
    font-size: 1em;
}

.fin {
    text-align: center;
    font-size: 1.5em;
    color: #f4f4f4;
    margin-top: 1em;
}

.linkarrow {
    color: #aaa;
}

blockquote { 
    margin: 0 18px 18px 18px;
    color:#666;
    padding-left:10px;
    border-left:4px solid #eee;
}

img, figure { max-width: 100%; }

figure {
    padding: 5px; 
    border: 1px solid #eee; 
    margin: 2em auto; 
    background-color: #f4f4f4; 
}
    figure.right { float: right; margin-left: 2em; margin-right: 0; margin-top: 0; max-width: 50%; }
figure img { border: 1px solid #ccc; }
figcaption { text-align: center; font-size: 0.85em; color: #555; }

li {
    margin: 1em 0;
}

sup, sub {
    padding: 0 0.2em;
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	_vertical-align: bottom;
	position: relative;
}
sup { bottom: 0.5ex; }
sub { top: .5ex; }

code, pre {
    font-family: 'Inconsolata';
    font-size: 11px;
    background-color: #dde1ef;
    padding: 0.2em;
    overflow: auto;
}

.noborder img, ._noborder img { border: 0 !important; padding: 0 !important; background-color: transparent; }
.post img { max-width: 100%; }

.footnotes { 
    margin-top: 3em;
    font-size: 14px;
}
.footnotes hr { margin-bottom: 1em; }

.footnotes a[rev=footnote] { text-decoration: none; }

#deckad { 
    position: absolute;
    width: 250px;
    right: 0px;
    top: 5px;
    margin-left: 0; 
    line-height: 1.3; 
    font-weight: 400;
    font-size: 11px;
    color: #f1e0d4;
    text-align: right;
	padding-top: 18px;
}
#deckad #adcontent p {
    margin-left: 0;
    margin-top: -3px;
}

#deckad a,
#deckad a:active,
#deckad a:visited {
    color: #b59575;
}

	#deckad #adlabel { 
		display: block;
		text-align: center;
		position: absolute;
		right: 0;
		top: 0;
		width: 120px;
		padding: 0;
		text-transform: uppercase;
		font-size: 6px;
		letter-spacing: 0.2em;
		text-decoration: none;
	}
	
	#deckad #adlabel span { display: none; }

.permalink { text-decoration: none; }

#tinyabout {
	display: none;
	color: #5c3b1e;
}
	#masthead h1 #tinyabout a, #masthead h1 #tinyabout a:active, #masthead h1 #tinyabout a:visited { color: #b59575; }
	
	#tinyabout.fa_normal #ta_up   { display: none; }
	#tinyabout.fa_normal #ta_down { display: inline; }

	#tinyabout.fa_expanded #ta_up   { display: inline; }
	#tinyabout.fa_expanded #ta_down { display: none; }

#fullabout.fa_normal,   #deckad.fa_normal   { display: block; }
#fullabout.fa_expanded, #deckad.fa_expanded { display: block; }

/* 2X image replacements */
@media (-webkit-min-device-pixel-ratio:2) {
	#deckad #adlabel { top: 2px; }
	#deckad #adlabel img { display: none; }
	#deckad #adlabel span { display: inline; }
}

img.extrawide {
    margin-left: -290px;
    max-width: 1200px;
}

@media (max-width: 1200px) {
    img.extrawide { margin-left: calc((100vw - 620px) / -2); max-width: 100vw; }
}

/* 500-pixel layout for smaller screens */
@media (max-width: 680px) {
    section#posts { width: calc(100vw - 30px); }
    img.extrawide { margin-left: -15px; max-width: 100vw; }

    #deckad { width: 175px; }

    #mastheadbackground {
        height: 190px;
        margin-bottom: -190px;
    }
    
    #masthead {
        height: 190px;
    }
}

/* 240-pixel layout for iPhone-sized screens */
@media (max-width: 520px) {
    body {
        font-size: 0.875em;
    }

    #masthead {
        width: 100%;
        font-size: 1.1em;
    }

    #masthead h1 {
		padding-top: 0.25em;
		font-size: 1.5em;
    }
	
    #mastheadbackground {
        height: 155px;
        margin-bottom: -155px;
    }
    
    #masthead {
        height: 155px;
    }

    #deckad { 
        font-size: 12px;
        width: 100%;
        left: 0px;
        top: 32px;
    }
        #deckad { text-align: left; }
        #deckad #adcontent img { float: left; padding-right: 10px; }

		#deckad #adlabel {
			position: absolute;
			padding: 0;
			right: 0px;
			bottom: 0px;
			top: auto;
			text-align: right;
		}

    figcaption { font-size: 1em; }
    figure.right { float: none; width: 100%; margin-left: 0; margin-right: 0; text-align: center; }


	#tinyabout { display: inline; }
	#fullabout.fa_normal { display: none; }
	#deckad.fa_expanded  { display: none; }
}

@media print {
    a { color: #888; }
    #masthead { color: #888; }

    #mastheadbackground, #deckad, #adlabel, #adcontent, #deckad #adlabel, nav, form, 
    #masthead nav, .fin, iframe, .noprint { display: none; }

    .printonly { display: inline; }

    #masthead { width: 100%; height: auto; }
    #masthead h1 { margin: 0; font-size: 1.5em; color: #444; }
    #description { font-size: 10pt; }

    body { width: auto; max-width: 125mm; padding: 0; margin: 0 auto; color: #000; border: 0; }
    section#posts { position: static; margin: 0; width: 100%; }
    article { margin-top: 2em; }

    body, .footnotes {
        font-size: 10.5pt;
    }

    #masthead a, #masthead a:active, #masthead a:visited,
    #masthead h1 a, #masthead h1 a:active, #masthead h1 a:visited,
    a, a:active, a:visited { color: #888; }

    footer p { display: none; }
    footer p:nth-child(2) { display: block; }   
}


/* ----------------- Bigfoot footnotes ----------------- */

.footnote-content {
    font-size: 0.875em;
    font-weight: 400;
    line-height: 1.45;
    color: #f1e0d4;
}

    .footnote-content i, .footnote-content em {
        font-weight: 400;
    }

    .footnote-content a, .footnote-content a:active, .footnote-content a:visited {
        color: #b59575;
    }

@media (-webkit-min-device-pixel-ratio:2), (min-device-pixel-ratio:2) {
    .footnote-content, .footnote-content i, .footnote-content em {
        font-weight: 300;
    }
}

.footnote-button {
/*    background-color: #b5190e;*/
    border-radius: 1em;
    min-width: 32px;
    text-align: center;
    height: 1.3em;
    top: -0.25em;
    font-size: 0.75em;
    font-weight: 600;
    padding-top: 0.75em;
    -webkit-font-smoothing: antialiased;
}

    a.footnote-button , a.footnote-button:active, a.footnote-button:visited {
        color: #fff;
    }

@media (max-width: 520px) {
    .footnote-content {
        font-size: 1em;
    }

    .footnote-button {
        padding-top: 0.7em;
        height: 1.5em;
        top: -0.33em;
    }
}
